.dashboard {
    padding: 60px;
}

.dashboard h1 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 600;
}

.cards{
    display:flex;
    gap:20px;
    margin:30px 0;
}

.card {
    flex: 1;
    padding: 25px;
    border-radius: 15px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle at top left, rgba(37,99,235,0.3), transparent);
    top: -50%;
    left: -50%;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.card h3 {
    margin-bottom: 15px;
    font-weight: 500;
    color: #f97316;
}

.card p {
    font-size: 50px;
    font-weight: bold;
    color: #2563eb;
}

.chart-box{
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:15px;
    height:350px;
}

.chart-box canvas{
    max-height:300px;
}

#particles-js{
  position: fixed;
  inset: 0;
  z-index: -1;
}

.fade-in{
  animation: fade .6s ease;
}
@keyframes fade{
  from{opacity:0; transform: translateY(10px);}
  to{opacity:1; transform: translateY(0);}
}

/* modo claro */
body.light{
  background: #f5f7fb;
  color: #111;
}
body.light .sidebar{
  background: #ffffff;
  color: #111;
}
body.light .item{
  color: #111;
}

@media (max-width: 1024px){
    .cards{
        flex-wrap:wrap;
    }

    .card{
        flex: 1 1 45%;
    }
}

@media (max-width: 768px){
    .cards{
        flex-direction:column;
    }

    .card{
        width:100%;
    }

    .chart-box{
        height:auto;
    }

    .chart-box canvas{
        max-height:250px;
    }
}

@media (max-width: 480px){
    h1{
        font-size:22px;
    }

    .card p{
        font-size:28px;
    }
}
