.page-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.top-bar {
  margin: 20px 0;
}

.top-bar input {
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.table-container {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 15px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  font-size: 14px;
}

td:nth-child(3) {
  font-weight: 600;
  color: #cbd5e1;
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  color: #f97316;
}

tbody tr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

tbody tr:hover {
  background: rgba(255, 255, 255, 0.05);
}

.stock-bajo {
  color: #ff4d4d;
  font-weight: bold;
}

.acciones {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn-editar {
  background: #2563eb;
  color: white;
}

.btn-eliminar {
  background: #ef4444;
  color: white;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
}

/* ROJO */
.badge-critico {
  background: #ef4444;
  color: white;
}

/* NARANJA */
.badge-bajo {
  background: #f97316;
  color: white;
}

/* VERDE */
.badge-normal {
  background: #22c55e;
  color: white;
}

@media (max-width: 1024px) {
  .table-container {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100vh;
    transition: 0.3s;
    z-index: 1500;
  }

  .sidebar.active {
    left: 0;
  }

  .menu-open {
    display: flex;
  }

  .sidebar.active .menu-close {
    display: flex;
  }

  .content {
    margin-left: 0 !important;
  }

  .top-bar input {
    width: 100%;
  }

  table {
    font-size: 13px;
  }

  th,
  td {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  table thead {
    display: none;
  }

  table,
  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 10px;
  }

  td {
    text-align: right;
    padding: 5px 10px;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    text-align: left;
    font-weight: bold;
  }
}
